[submodule "auto_vk_toolkit"]
	path = auto_vk_toolkit
	url = https://github.com/GeraldKimmersdorfer/Auto-Vk-Toolkit
[submodule "meshoptimizer"]
	path = meshoptimizer
	url = https://github.com/GeraldKimmersdorfer/meshoptimizer
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
