[submodule "auto_vk_toolkit"]
	path = auto_vk_toolkit
	url = https://github.com/cg-tuwien/Auto-Vk-Toolkit.git
	branch = development
[submodule "auto_vk"]
	path = auto_vk_toolkit/auto_vk
	url = https://github.com/GeraldKimmersdorfer/Auto-Vk.git
[submodule "meshoptimizer"]
	path = meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
